.overlay-full-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  z-index: 0;
  padding-bottom: 100px;
}

.overlay-full-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/greybar_image.png");
  background-repeat: repeat;
  background-size: auto;
  z-index: 0;
  pointer-events: none;
}

.overlay-full-page::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #D3F6FF;
  opacity: 0.8;
  z-index: 1;
  pointer-events: none;
}

.subway-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-top: -120px; 
}

.subway-overlay {
  position: relative;
  width: 100%;
  object-fit: contain;
  z-index: 2;
}

.yellow-oval {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 18%);

  width: clamp(300px, 40vw, 661px);
  height: clamp(90px, 12vw, 160px);

  border-radius: 3.5em;
  background: #FCCC0A;

  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  z-index: 3;
}


.oval-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 6vw, 96.44px);
  line-height: 1;
  text-align: center;
  color: #000000;
}

.card-layout {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  z-index: 3;
  position: relative;
}

.card-group {
  display: flex;
  flex-direction: column;
  gap: 40px; 
}

.vertical-cards {
  display: flex;
  gap: 40px; 
  justify-content: center;
}

.horizontal-card-wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 1280px) {
  .card-group {
    align-items: center;
  }

  .vertical-cards {
    flex-direction: column;
    align-items: center;
  }

  .horizontal-card-wrapper {
    display: none;
  }
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

@media (max-width: 1280px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
    justify-content: center;
  }
}

.spec-logo-link {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.spec-logo {
  height: 52px;
  width: auto;
}